/* used to set a different logo */
.nav-bar__logo img {
    content: url(https://raw.githubusercontent.com/tan-demo/css.github.io/main/Prophet_Exchange_Logo.png);
}

.nav-bar__logo img {
    content: url(https://raw.githubusercontent.com/tan-demo/css.github.io/main/Prophet_Exchange_Logo.png);
}

.login .argo__logo {
    background-image: url(https://raw.githubusercontent.com/tan-demo/css.github.io/main/PE.png);
